/*
|--------------------------------------------------------------------------
|                   Main File SCSS
|--------------------------------------------------------------------------
*/

/** Colores */
$blanco: #ffffff;
$negro: #000000;
$negro-claro: #282828;
$celeste: #00ccff;
$celeste-oscuro: #00a4cd;

/** Breakpoints */

@mixin breakpoint($point) {
    @if $point == "Celular" {
        @media (min-width: 0px) and (max-width: 576px) {
            @content;
        }
    } @else if $point == "Tablet" {
        @media (min-width: 576px) and (max-width: 768px) {
            @content;
        }
    } @else if $point == "Desktop" {
        @media (min-width: 768px) {
            @content;
        }
    }
}
/** Tipografia */

$dosis: "Dosis";
$akshar: "Akshar";

$font-size-xl: 32px;
$font-size-md: 24px;
$font-size-sm: 16px;
$font-size-xs: 10px;

/** Akshar */
@font-face {
    font-family: "Akshar", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap");
}
/** Dosis */
@font-face {
    font-family: "Dosis", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;700;800&display=swap");
}

.btn-funko-primary {
    background-color: $celeste !important;
    border-color: $celeste !important;
    color: $negro !important;
    &:hover {
        background-color: $celeste-oscuro !important;
    }
}

.btn-funko-secondary {
    background-color: $celeste-oscuro !important;
    border-color: $celeste-oscuro !important;
    color: $negro !important;
    &:hover {
        background-color: $celeste-oscuro !important;
    }
}
